@use 'col';

.hero {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;

    @media (max-width: 768px) {
        margin-bottom: 4em;
    }

    &__background {
        min-height: 72vh;
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-color: $bgColor; 

        @media (max-width: 768px) {
            height: 40px;
            min-height: 45vh;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-top: 90px;
        }
    }

    .button {
        margin-top: 2vw;
        color: $textColorSec; 
        background-color: $highlightColor;
        border: none;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: lighten($highlightColor, 10%); 
        }
    }

    &__content {
        max-width: 750px;
        padding-left: 1em;
        margin-top: -50px;

        @media (max-width: 768px) {
            margin-top: 20px;
            max-width: 100%;
        }

        p {
            color: $textColorPri; 
            margin-top: 2vw;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        button {
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}
